* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: green;
  font-size: 36px;
}

.container {
  height: 800px;
  width: 800px;
  background-color: #293462;
  display: flex;
  align-items: center;
  justify-content: center;
}
.face {
  height: 600px;
  width: 600px;
  background-color: #fe5f55;
  position: relative;
  border-radius: 50% 50% 20% 20%;
  overflow: hidden;
}

.eye {
  height: 150px;
  width: 150px;
  background-color: #fff1c1;
  border-radius: 50%;
}
.rightEye {
  position: absolute;
  top: 50%;
  right: 20%;
}
.leftEye {
  position: absolute;
  top: 50%;
  right: 60%;
}
.mouth {
  height: 20px;
  width: 100px;
  border-radius: 20px;
  background-color: #fff1c1;
  position: absolute;
  bottom: 70px;
  right: 45%;
}
.r {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #fff1c1;
  top: -23.5%;
}
.r1 {
  position: absolute;

  left: 50%;
}
.r2 {
  position: absolute;

  right: 50%;
}
